
<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body {
      text-align: center;
      background-size: 100%;
    }
    h1, h2 {
      color: black;
      font-family: "Courier New";
    }
  </style>


</head>

<body>
    <img src="static/images/logo.png">

    <h1>Log ind med AD tak</h1>
    <form action="" method="post">
        <p>
            <input type=text name="username", placeholder="w-nummer">        
        </p>
        
        <p>
            <input type=password name="password", placeholder="kode">        
        </p>
        
        <p>
            <input type=submit name="Log Ind">        
        </p>
    </form>
</body>